<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trello focus</title>
    <script src="https://p.trellocdn.com/embed.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|PT+Mono'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
    function onClickHandler(){
        window.location.replace("{{ url_for('focus') }}"+"?"+"token="+"{{ token }}"+"&"+"embed="+document.getElementById("embed").checked)
    }
    function changeColorScheme(principal, secondary){
        document.getElementById('ui').style.backgroundColor=principal;
        document.getElementById('navbar').style.backgroundColor=secondary;
    }
    </script>
  </head>
  
  <body>
      <div class="ui" id="ui">
        <nav class="navbar app" id="navbar">
            <div onclick="window.location.replace('{{ url_for('index') }}')">Trello focus</div>
            &nbsp;
            &nbsp;
            &nbsp;
            <div style="font-size: 0.7em;">Trello card style</div>
            &nbsp;
            <label class="switch">
                <input type="checkbox" onclick="onClickHandler()" id="embed" {% if embed %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            &nbsp;
            &nbsp;
            <div style="font-size: 0.7em;">Color scheme</div>
            &nbsp;
            <div class="box" style="background:#009999;" onclick='changeColorScheme("#009999", "#006666")'></div>
            <div class="box" style="background:#cc0000;" onclick='changeColorScheme("#cc0000", "#993333")'></div>
            <div class="box" style="background:#0033cc;" onclick='changeColorScheme("#0033cc", "#003399")'></div>
            <div class="box" style="background:#cc00cc;" onclick='changeColorScheme("#cc00cc", "#9900cc")'></div>
            <div class="box" style="background:#ffff99;" onclick='changeColorScheme("#ffff99", "#cccc00")'></div>
            <div class="box" style="background:#999966;" onclick='changeColorScheme("#999966", "#666633")'></div>
        </nav>
        <div class="lists">
            {% for board in boards %}
                <div class="list">
                    <header onclick=" window.open('{{ board.url }}','_blank')">{{ board.name }}</header>
                    <ul>
                    {% for card in board.cards %}
                        {% if embed %}
                            <li>
                                <blockquote class="trello-card-compact">
                                  <a href="{{ card.url }}">{{ card.name }}</a>
                                </blockquote>         
                            </li>
                        {% else %}
                            <li onclick="window.open('{{ card.url }}','_blank')">
                                {{ card.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <footer>&nbsp;</footer>
                </div>
            {% endfor %}
        </div>
      </div>
  </body>
</html>

