<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trello focus</title>
    <script src="https://p.trellocdn.com/embed.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|PT+Mono'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <body>
      <div class="ui">
        <nav class="navbar app">
            <label class="switch">
                <input id="embed" 
                       type="checkbox" 
                       onclick="window.location.replace("{{ url_for('focus') }}"+"?"+"token="+"{{ token }}"+"&"+"embed="+document.getElementById("embed").value)" 
                       {% if embed %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
        </nav>
        <div class="lists">
            {% for board in boards %}
                <div class="list">
                    <header onclick=" window.open('{{ board.url }}','_blank')">{{ board.name }}</header>
                    <ul>
                    {% for card in board.cards %}
                        {% if embed %}
                            <li>
                                <blockquote class="trello-card-compact">
                                  <a href="{{ card.url }}">{{ card.name }}</a>
                                </blockquote>         
                            </li>
                        {% else %}
                            <li onclick="window.open('{{ card.url }}','_blank')">
                                {{ card.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <footer>&nbsp;</footer>
                </div>
            {% endfor %}
        </div>
      </div>
  </body>
</html>

