<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trello focus</title>
    <script data-ad-client="ca-pub-8803878148587994" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|PT+Mono'>
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"-->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  
  <body>
    <div class="ui">		
		<h2>Trello focus is a way to visualize your most important Trello cards, no matter the board they are placed.</h2>
		
		<div class="lists">
			<div class="list">
				<header>Steps</header>
				<ul>
					<li>Go to trello and add the tag <b>FOCUS</b> to every card you want to see in the dashboard.</li>
					<li onclick="window.location.replace('{{ oauth_url }}')">Grant access for this app to your data clicking <b>here</b></li>
					<li>Profit your custom dashboard.</li>
					<li>Btw, icons are made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
					<li>Oh yes, and the source code is available at <a href="https://github.com/debuti/trello-focus" title="Github">github.com/debuti/trello-focus</a></li>
				</ul>
				<footer>&nbsp;</footer>
			</div>
			<div class="list">
				<header>Some ads</header>
				<ul>
					<li><ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-8803878148587994"
                         data-ad-slot="7925761052"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                        <script>
                             (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </li>
				</ul>
				<footer>&nbsp;</footer>
			</div>
		</div>
    </div>
  </body>
</html>



